# Tesseract information, for more informations go to: https://tesseract-ocr.github.io/tessdoc/Command-Line-Usage.html

TESSERACT_LANGUAGE="-l por" # Tesseract Language ocr identification
TESSERACT_CONFIGURATION="--psm 6" # Tesseract Page Segmation Mode
PORT=8080 # Service Port on url
CONSUMER_THREADS=2

MINIO_ROOT_USER=admin # default minio user
MINIO_ROOT_PASSWORD=admin123 # default minio password
MINIO_DEFAULT_BUCKETS=default # default bucket
MINIO_CONSOLE_PORT=9000 # default minio console port 
MINIO_WEBUI_PORT=9001 # default minio web ui port

REDIS_USER=default # default redis user
REDIS_PASSWORD=admin # default redis password
REDIS_URL=localhost # default redis url, if on docker use redis
REDIS_PORT=6379 # default redis port

REDIS_ENCODE="utf-8" # redis encode
REDIS_STREAM_CONSUME_NAME="redis-consume" # redis stream name
REDIS_STREAM_PRODUCE_NAME="redis-produce" # redis stream name
REDIS_CONSUMER_GROUP_NAME="redis-consumer-group-name" # redis stream consumer name
REDIS_REQUEST_PER_CYCLE=10 # redis requests from stream per cycle
REDIS_REQUEST_PERIOD_TIME=15 # redis requests period time

STORAGE_ENDPOINT="http://localhost:9001" #storage endpoint, if on docker use http://minio:9000
STORAGE_ACESS_KEY="admin" # file storage access key
STORAGE_SECRET_ACESS_KEY="admin123" # file storage secret acess key
STORAGE_REGION="us-east-1" # file storage region
STORAGE_BUCKET_NAME="work-tests" # file storage bucket