# Tesseract information, for more informations go to: https://tesseract-ocr.github.io/tessdoc/Command-Line-Usage.html

TESSERACT_LANGUAGE="-l por" # Tesseract Language ocr identification
TESSERACT_CONFIGURATION="--psm 6" # Tesseract Page Segmation Mode
PORT=8080 # Service Port on url

MINIO_ROOT_USER=admin # default minio user
MINIO_ROOT_PASSWORD=admin123 # default minio password
MINIO_DEFAULT_BUCKETS=default # default bucket

RABBITMQ_DEFAULT_USER=kalo #default rabbitmq user
RABBITMQ_DEFAULT_PASS=kalo #default rabbitmq password

STORAGE_ENDPOINT="localhost:9001" #storage endpoint
STORAGE_ACESS_KEY="admin" # file storage access key
STORAGE_SECRET_ACESS_KEY="admin123" # file storage secret acess key
STORAGE_REGION="us-east-1" # file storage region
STORAGE_BUCKET_NAME="work-tests" # file storage bucket