# Tesseract information, for more informations go to: https://tesseract-ocr.github.io/tessdoc/Command-Line-Usage.html

TESSERACT_LANGUAGE="-l por" # Tesseract Language ocr identification
TESSERACT_CONFIGURATION="--psm 6" # Tesseract Page Segmation Mode